
.cm-blue{
  color:blue !important;
    font-weight:bold;
}
.cm-yellow{
    color:yellow !important;
    font-weight:bold;
}

.cm-gray{
    color:gray !important;
    font-weight:bold;
}

.cm-brown{
    color:brown !important;
    font-weight:bold;
}